/* reset */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
}

/* variables */

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    --young-serif: 'Young Serif', sans-serif;
    --outfit: 'Outfit', sans-serif;
}

/* geral styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: var(--eggshell);
}

.container {
    max-width: 870px;
    margin: 60px 10px;
    padding: 40px;
    border-radius: 20px;
    background: var(--white);
}

.title-of-section {
    font-family: var(--young-serif);
    font-weight: 400;
    font-size: 2rem;
    color: var(--nutmeg);
}

/* sessão principal */

.receita-info img {
    border-radius: 15px;
}

.titulo-da-receita {
    font-family: var(--young-serif);
    font-weight: 600;
    font-size: 3rem;
    margin: 40px 0;
    color: var(--dark-charcoal);
}

.descricao {
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1.25rem;
    margin: 40px 0;
    color: var(--wenge-brown);
}

.tempo-de-preparacao-info {
    background: var(--rose-white);
    padding: 40px;
    border-radius: 8px;
}

.tempo-de-preparacao-info h3 {
    font-family: var(--outfit);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--dark-raspberry);
    margin-bottom: 15px;
}

.tempo-de-preparacao-info ul li {
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--wenge-brown);
}

.tempo-de-preparacao-info ul li::before {
    content: '•';
    margin: 0 30px 0 10px;
}

.tempo-de-preparacao-info ul li:not(:last-child) {
    margin-bottom: 15px;
}

/* sessão ingredientes */

.ingredientes {
    margin: 40px 0;
}

.ingredientes h2 {
    margin-bottom: 30px;
}

.ingredientes ul li {
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--wenge-brown);
}

.ingredientes ul li::before {
    content: '•';
    margin: 0 30px 0 10px;
}

.ingredientes ul li:not(:last-child) {
    margin-bottom: 15px;
}

/* sessão de instruções */

.intrucoes {
    border-top: 1px solid var(--light-grey);
    border-bottom : 1px solid var(--light-grey);
    padding: 40px 0;
}

.intrucoes h2 {
    margin-bottom: 30px;
}

.intrucoes ol li {
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--wenge-brown);
    counter-increment: li;
}

.intrucoes ol li::before {
    content: counter(li)'.';
    font-family: var(--outfit);
    font-weight: 600;
    color: var(--nutmeg);
    margin: 0 30px 0 10px;
}

.intrucoes ol li:not(:last-child) {
    margin-bottom: 15px;
}

/* sessão de nutrição */

.nutricao {
    margin-top: 30px;
}

.nutricao h2 {
    margin: 30px 0;
}

.nutricao table {
    width: 100%;
    font-family: var(--outfit);
}

.nutricao table caption {
    text-align: left;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--wenge-brown);
    margin-bottom: 20px;
}

.nutricao table tr {
    text-align: left;
}

.nutricao table tr:not(:last-child) {
    border-bottom: 1px solid var(--light-grey);
}

.nutricao table tr th {
    font-weight: 400;
    padding: 10px 30px;
    font-size: 1.25rem;
    color: var(--wenge-brown);
}

.nutricao table tr td {
    font-size: 1.25rem;
    padding: 10px 30px;
    font-weight: 600;
    color: var(--nutmeg);
}
